/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
.bi {
    transition: 0.5s all ease;
}

.bi-star-fill {
    height: 50px;
    width: 50px;
    fill: yellow;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

.active {
    color: #111;
}